.mapContainer {
    padding-top:20px;
    height: 60vh;
}
.actionGroup {
    margin:auto;
    padding-top:20px;
}
.autoComplete {
    padding-top:36px;
    padding-bottom:20px;
}
/*make paper above the other form */
.paperAutoComplete {
    position: absolute;
    z-index: 100;
}
.newDealFilter {
    padding-top:12px;
    height:60px;
}

.label {
    padding-top:20px;
    font-size: 18px;
}

.textArea {
    padding-top:20px;
}


